* {
    margin: 0;
    padding: 0;
}

.container {
    height: 67vh;
    
    margin: 0 auto;
    background-color:plum;
}

.flexbox {
    text-align: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    height: 7vh;
}


.head {
    
    margin: 11px 10px;
    font-size: 40px;
    font-weight: bold;
    font-family: 'Lobster', cursive;
}


.flexbox li {
    list-style-type: none;
    margin: 11px 13px;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    font-weight: bold;
}



.flex {
    display: flex;
    flex-direction: row;
}




.section1 {
    background-image: url('pro.jpg');
    height: 60vh;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.mg {
    margin-top: 13px;
    margin-bottom: 13px;
    
}


.btn {
    padding: 4px 12px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

.align-center {
    align-items: center;
}

.content {
    width: 50vh;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 120px;

}

.title {
    font-size: 65px;
    font-family: 'Abril Fatface', cursive;
    color: rgb(240, 24, 135);



}

.para {
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 30px;
    color: rgb(58, 27, 149);
}

.button {
    font-size: 11px;
    padding: 7px 18px;
    background-color: rgb(7, 7, 59);
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    margin-top: 7px;
    cursor: pointer;
    margin-top: 15px;
}

.arrow {
    margin-left: 3px;
    font-weight: bold;
}

.sectioncommon {
    height: 50vh;
    background-color: bisque;
}

.left {
    width: 50vw;
    height: 50vh;
}

.right {
    width: 50vw;
    height: 50vh;
}

.pic {
    width: 100%;
    height: 100%;
}

.info {
    padding-left: 30px;
    padding-top: 40px;
}

.mg-hor {
    margin-left: 10px;
    margin-right: 10px;
}

.mg-ver {
    margin-top: 14px;
    margin-bottom: 14px;
}

.demo-btn {
    margin-top: 25px;
    color: black;
    background-color: lightcoral;
    font-weight: bold;
    border-radius: 0;
    font-size: 12px;
}

.mg-vert {
    margin-top: 35px;
    margin-bottom: 25px;
}

.new-para {
    color: black;
    font-family: 'Baloo 2', cursive;
    font-weight: bold;
    font-size: 18px;
}

.section4 {
    height: 50vh;
    background-color: bisque;
}

.listitem {
    list-style-type: none;
    font-size: 16px;
    font-family: 'DynaPuff', cursive;
}

.block {
    padding: 67px 100px;
}

.head1 {
    color: rgb(7, 7, 59);
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    font-size: 25px;

}

.text-center {
    text-align: center;
    font-size: 25px;
    font-family: 'Baloo 2', cursive;
    padding-top: 15px;
}

.section5 {
    height: 50vh;
    text-align: center;
    background-color: bisque;
}

.font-style {
    list-style-type: none;
    font-family: 'Fira Sans', sans-serif;

}

.head2 {
    font-family: 'Baloo 2', cursive;
}

.outline {
    border: 2px solid rgba(255, 51, 153, 0.953);
    border-radius: 6px;
}

.block-margin {
    margin: 0 13px;
}

.top-padding {
    padding-top: 2px;
    padding-bottom: 2px;
}

.lift {
    margin-top: 14px;
    margin-bottom: 14px;

}

.top-margin {
    margin-top: 1px;
    margin-bottom: 4px;
}

.section6 {
    height: 50vh;
    table-layout: fixed ;
    background-color: bisque;
    
}



.center{
margin-left: 400px;
}    

.cellpad {
    padding: 8px 100px;
}

table {
    border-collapse: collapse;
    border:solid 3px gray;
    

}

.section7 {
    background-color: #81e9e1;
    height: 50vh;

}

.infocontainer {
    padding-top: 15px;
}

.txt {
    width: 270px;
    height: 18px;
    padding: 4px 10px;
    border: none;
}

.blocksize {
    height: 100px;
    width: 283px;
}

.mg-left {
    margin-left: 35px;
}

.mg-up {
    margin-top: 20px;
}

.lastbtn {
    padding: 5px 48px;
    background-color: black;
    color: white;
    margin: 30px 0;
    cursor: pointer;
}

.btn-center {
    text-align: center;
}

.footer {
    height: 10vh;
}

.footimg {
    margin: 0 8px;
    height: 25px;
    width: 25px;
}

.justify-around {
    justify-content: space-around;
}

.email {
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;

}

.style {
    list-style-type: none;
    font-family: 'Fira Sans', sans-serif;
    font-weight: bold;
    margin-right: 15px;

}



.justify-end {
    justify-content: flex-end;
}

.center {
    text-align: center;
}

.top-mg {
    margin-top: 40px;
}